{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://getmyuni.azureedge.net/college-image/big/babu-banarasi-das-university-bbdu-lucknow.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <i><h2>Babu Banarasi Das Educational Group </h2></i>
            <br>
            <p class="subheading">To become a leading institute of providing professionally competent and socially responsive technocrats with high moral values</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author}}</a>
            on {{post.date}}
          
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
          
          </p>
        </div>
        <hr>
        {% endfor %}

      </div>
    </div>
  </div>
  <hr>


{% include "footer.html" %}