{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url(https://th.bing.com/th/id/OIP.uCRsXS4N9cJNJPTyJBiT0wHaCl?pid=ImgDet&rs=1)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2><u>Log Out Successful</u></h2>
            <BR>
            <span class="subheading">Thanks for visiting my profile, I hope you like it? and hope it was quite captivating.</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  {% include "footer.html" %}